<div class="container" ng-controller="consultaCtrl"  ng-init="cargarDirectores()">

    <table class="table">
        <caption ><h3>Lista de Directores</h3></caption>
        <thead>
        <tr>
            <th> Nombre </th>
            <th> Apellidos </th>
            <th> Edad </th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="director in directores| orderBy:'nombre'"
            elemento-director
            director="director" >

        </tr>
        </tbody>
    </table>
    <div ui-view></div>
</div>