<div class="container" ng-controller="directoresCtrl" ng-init="cargarDirectores()" >
    <div elemento-barra
         barra="barra">
    </div>
    <table class="table">
     <h1>Lista de Directores</h1>
        <thead>
        <tr>
            <th> Nombre </th>
            <th> Apellidos </th>
            <th> Edad </th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="director in directores| orderBy:'nombre'">

            <td>{{director.nombre}}</td>
            <td>{{director.apellidos}}</td>
            <td>{{director.edad}}</td>

            <td> <button class="btn btn-info"  id="ver"  ng-click="detallesDirector(director._id)"> Ver</button></td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <caption ><h3>Detalles del director</h3></caption>
        <thead>
        <tr>
            <th> Pelicula </th>
            <th> Sinopsis </th>


        </tr>
        </thead>
        <tbody>
        <td>{{pelicula}}</td>
        <td>{{sinopsis}}</td>
        </tbody>

    </table>

</div>



