<div class="container" ng-controller="directoresCtrl"  ng-init="cargarDirectores()">

<form class="form-horizontal">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Steven" ng-model="nombre">

        <label for="apellidos">Apellido</label>
        <input type="text" class="form-control" id="apellidos" placeholder="Spielberg" ng-model="apellidos">
        <label for="edad">Edad</label>
        <input type="text" class="form-control" id="edad" placeholder="56" ng-model="edad">
        <label for="pelicula">Nombre de Pelicula: </label>
        <input type="text" class="form-control" id="pelicula" placeholder="Tiburón" ng-model="pelicula" />
        <label for="sinopsis">Sinopsis de la Pelicula: </label>
        <textarea class="form-control" name="sinopsis" id="sinopsis" cols="60" rows="10" placeholder="Sinopsis" ng-model="sinopsis"></textarea><br/>
        <div class="row">
            <div class="span4">
                <input type="submit" value="Guardar" class="btn btn-success" ng-click="guardarDirector()" />
                <input type="button" value="Limpiar formulario" class="btn btn-danger" ng-click="limpiarDatos()" />
                <input type="button" value="Mostrar directores" class="btn btn-warning" ng-click="toggle()" />
            </div>
        </div>
    </div>

</form>
</div>